<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head') %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h1>Inloggen</h1>

        <form action="/login" method="post">
            <fieldset>
                <legend>Vul je gegevens in</legend>

                <label for="voornaam">Voornaam</label>
                <input type="text" name="voornaam" required>

                <label for="email">Email</label>
                <input type="email" name="email" required>

                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" name="wachtwoord" required>


                <input type="submit" value="Submit this form">
            </fieldset>
        </form>

        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>